/*COLOR PALETTE
#0c1017 primary
#d7dad6 secondary
#006eff tertiary
#002563 fourtiary*/

@font-face {
    font-family: 'TimesModern';
    src: url('assets/fonts/TimesModern-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesDigitalW04-RegularSC';
    src: url('assets/fonts/TimesDigitalW04-RegularSC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesModern';
    src: url('assets/fonts/TimesModern-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesDigitalW04';
    src: url('assets/fonts/TimesDigitalW04-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Webfont: Humane-Bold */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Bold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Bold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Bold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-ExtraLight */@font-face {
    font-family: 'MangoGrotesqueExtLt';
    src: url(assets/font/Humane-ExtraLight.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-ExtraLight.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-ExtraLight.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Light */@font-face {
    font-family: 'MangoGrotesqueLight';
    src: url(assets/font/Humane-Light.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Light.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Light.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Light.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Medium */@font-face {
    font-family: 'MangoGrotesqueMed';
    src: url(assets/font/Humane-Medium.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Medium.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Medium.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Medium.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Regular */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Regular.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Regular.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Regular.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-SemiBold */@font-face {
    font-family: 'MangoGrotesqueSemBd';
    src: url(assets/font/Humane-SemiBold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-SemiBold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-SemiBold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Thin */@font-face {
    font-family: 'MangoGrotesqueThin';
    src: url(assets/font/Humane-Thin.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Thin.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Thin.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Thin.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin:0px auto;
    background-color: #0c1017;
}

#primary-color {
    color:#0c1017
}
#secondary-color {
    color:#d7dad6
}
#tertiary-color {
    color:#006eff
}
#fourtiary-color {
    color:#002563
}
#success-color {
    color:#005a51
}
#danger-color {
    color:#db003e
}

hr {
    width:50%
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
}

h1 {
    font-family: 'MangoGrotesque', sans-serif;
    font-weight: 900;
    color:#d7dad6;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    color:#d7dad6;
}
h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    color:#d7dad6;
}
h4 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}
p {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}

ol,ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

hr {
    width:50%;
    border-top: 0.3px solid #87b3ff;
    border-bottom-width:0px;
}

#navBar {
    background-color: #071d3a;
    background-image: url("assets/backgrounds/star-background.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    transition:0.5s;
    font-size: 9vh;
    text-decoration: none;
}
#navBar:hover {
    transition: 1s;
    cursor:pointer;
}
#navBar h1{
    color: #d7dad6;
    transition: 1s;
    margin-bottom: 0px;
    margin-top: 20px;
    text-decoration: none;
}
#navBar h1:hover{
    transition: 1s;
    letter-spacing: 12px;
}

#conf-labels{
    font-family: 'MangoGrotesque';
    font-size:4.5vh;
    transition: 1s;
    cursor: pointer;
}
#conf-labels:hover{
    letter-spacing: 4px;
    transition: 1s;
}

.tabelaTitulo{
    display: flex;
    justify-content: center;
    color:#d7dad6;
    font-size: 120px;
    margin-bottom: -20px;
    margin-top: 0px;
}

.BracketsScalingSvg{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BracketsBackground{
    fill: #1d2535;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BracketLines{
    stroke:#d7dad6;
}

.BracketsSemi{
    fill:#d7dad6;
}

.BracketsLabel{
    fill:#d7dad6;
}

.BracketTextColor{
    fill:#d7dad6;
}

.BracketOutline {
    stroke:#949593;
    stroke-width: 3px;
}

.BracketSeparator{
    fill:#d7dad6;
}

.BracketWinTeam{
    fill:#d7dad6;
}

.BracketBackground{
    fill: #0c1017;
    stroke:#4a5f8a;
}

.BracketFinal{
    fill: #4a5f8a;
}

.BracketFinal text{
    fill: #d7dad6;
}

.artilheirosCampeonato{
    -webkit-font-smoothing: antialiased;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    width: 65%;
    margin: 0 auto;
}
.rankingHeader{
    font-family: 'Epilogue', sans-serif;
    display: flex;
    align-items: center;
    height: 40px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #41557b;
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}
.rankingHeaderGols{
    margin-left: auto;
    padding-right: 20px;
}
.rankingConteudo{
    box-sizing: content-box;
    overflow: auto;
    height: 430px;
    border-bottom: 1px solid #41557b;
}
.rankingItemWrapper{
    border-bottom: 1px solid #41557b;
    display: flex;
    align-items: center;
}
.rankingItem{
    width: 30px;
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    color: #41557b;
    font-size: 38px;
}
.jogador{
    display: flex;
    align-items: center;
    width: 100%;
    height: 78px;
}
.jogadorFoto{
    border-radius: 50px;
    background-color: #F1F1F1;
    display: block;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    width: 50px;
}
.jogadorInfo{
    margin-left: 20px;
}
.jogadorNome{
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    font-size: 20px;
    letter-spacing: -1px;
}
.jogadorPosicao{
    font-family: 'Epilogue', sans-serif;
    color: #41557b;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
}
.jogadorGols{
    margin-left: auto;
    padding-right: 20px;
    color: #41557b;
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: 36px;
}