/*COLOR PALETTE
#0c1017 primary
#d7dad6 secondary
#006eff tertiary
#002563 fourtiary*/

body {
    margin:0px auto;
    background-color: #0c1017;
}

#primary-color {
    color:#0c1017
}
#secondary-color {
    color:#d7dad6
}
#tertiary-color {
    color:#006eff
}
#fourtiary-color {
    color:#002563
}
#success-color {
    color:#005a51
}
#danger-color {
    color:#db003e
}

hr {
    width:50%
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    color:#d7dad6;
}

ol,ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.separaTempo{
    width:80%;
}


#navBar {
    background-color: #006eff;
    color: #002563;
    display: flex;
    justify-content: center;
    align-items:center;
    padding:2px;
    transition:0.5s;
    font-size: 3vh;
}
#navBar:hover {
    letter-spacing: 6px;
    transition: 1s;
    cursor:pointer;
}
#navBar h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
}

.tabelaTitulo{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color:#d7dad6;
}

.classificacaoPontosCorridos{
    background-color: #1f293b;
    display: flex;
    justify-content: center;
    width:65%;
    border-radius: 16px;
    margin: 0px auto;
    padding:16px;
    border-style: solid;
    border-width: 2px;
    border-color: #41557b;
}

.tabelaEquipesBorda{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    color: #d7dad6;
    padding:16px;
    border-color: #41557b;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    width:40%
}
.tabelaColPosicao{
    padding:10px;
    width:75%;
    vertical-align: middle;
}
.tabelaColTime{
    padding:10px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: 1px;
    width:25%
}
.tabelaHeader{
    border-bottom: 1px solid #41557b;
    border-right: none;
    border-top: 1px solid #41557b;
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.classificacaoTabelaLinha{
    text-align: auto;
    border-right: 1px solid #41557b;
    border-bottom: solid 1px #41557b;
    height: 55px;
}
.classificacaoPosicao{
    text-align: left;
    letter-spacing: -2px;
    line-height: 22px;
    font-size: 3vh;
}
.classificacaoNomesTime{
    display: block;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
}
.classificacaoNomesTimeSigla{
    display: none;
}
.classificacaoPontos{
    background-color: #0000000f;
    line-height: 14px;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    text-align: center;
}
.classificacaoPontosPontuacao{
    font-weight: 700;
}
.tabelaPontos{
    background-color: #00000033;
    border-left: 1px solid #41557b;
    border-right: 1px solid #41557b;
    width:200px
}
.tabelaListao{
    padding-left: 32px;
    margin-left: 32px;
    border-left: 1px solid #41557b;
}
.nomeRodadaNav{
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    font-size: 1em;
    font-style: normal;
    font-weight: 900;
    justify-content: center;
    line-height: 2em;
    text-align: center;
    text-transform: uppercase;
}
.nomeRodada{
    border-bottom: 1px solid #41557b;
    border-top: 1px solid #41557b;
    flex-grow: 2;
}
.listaJogos{
    font-size: 16px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin-top: -21px;
    height: 90%;
}
.listaJogosJogo{
    border-bottom: 1px solid #41557b;
    display: block;
}
.jogoTema{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:10px;
}
.jogoInformacoes{
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}
.jogoInformacoesLocal{
    font-weight: 300;
}
.placar{
    align-items: center;
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    height: 4em;
    justify-content: center;
}
.placarMandante{
    text-align: right;
    justify-content: flex-end;
}
.placarVisitante{
    text-align: left;
    justify-content: flex-start;
}
.equipesNome{
    display: none;
}
.equipesEscudo{
    height: 30px;
    width: 30px;
}
.escudoMandante{
    margin-left: 8px;
}
.escudoVisitante{
    margin-right: 8px;
}
.placarBox{
    align-items: center;
    display: flex;
    flex-grow: 2;
    height: 40px;
    justify-content: center;
    width: 30%;
}
.PlacarBoxValorMandante{
    font-size: 1.3125em;
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 900;
    vertical-align: middle;
}
.PlacarBoxValorVisitante{
    font-size: 1.3125em;
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 900;
    vertical-align: middle;
}
.placarBoxPenaltis{
    font-size: .7em;
}
.placarBoxPenaltisValorMandante{
    margin-left: 5px;
}
.placarBoxPenaltisValorVisitante{
    margin-right: 5px;
}
.placarBoxVersus{
    display: flex;
    height: 16px;
    margin: 0 5px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px;
}
.jogoTransmissao{
    font-family: 'Epilogue', sans-serif;
    font-size: 0.6875em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.3px;
    text-transform: uppercase;
}

@media screen and (max-width:1280px){
    .classificacaoNomesTime{
        display:none;
    }
    .classificacaoNomesTimeSigla{
        display: flex;
        font-size: 3vh;
    }
}