/*COLOR PALETTE
#0c1017 primary
#d7dad6 secondary
#006eff tertiary
#002563 fourtiary*/

/* Webfont: Humane-Bold */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Bold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Bold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Bold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-ExtraLight */@font-face {
    font-family: 'MangoGrotesqueExtLt';
    src: url(assets/font/Humane-ExtraLight.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-ExtraLight.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-ExtraLight.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Light */@font-face {
    font-family: 'MangoGrotesqueLight';
    src: url(assets/font/Humane-Light.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Light.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Light.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Light.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Medium */@font-face {
    font-family: 'MangoGrotesqueMed';
    src: url(assets/font/Humane-Medium.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Medium.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Medium.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Medium.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Regular */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Regular.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Regular.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Regular.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-SemiBold */@font-face {
    font-family: 'MangoGrotesqueSemBd';
    src: url(assets/font/Humane-SemiBold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-SemiBold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-SemiBold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Thin */@font-face {
    font-family: 'MangoGrotesqueThin';
    src: url(assets/font/Humane-Thin.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Thin.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Thin.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Thin.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


body {
    margin:0px auto;
    background-color: #0c1017;
    text-decoration: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#primary-color {
    color:#0c1017
}
#secondary-color {
    color:#d7dad6
}
#tertiary-color {
    color:#006eff
}
#fourtiary-color {
    color:#002563
}
#success-color {
    color:#005a51
}
#danger-color {
    color:#db003e
}

hr {
    width:50%
}

h1 {
    font-family: 'MangoGrotesque', sans-serif;
    font-weight: 900;
    color:#d7dad6;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    color:#d7dad6;
}
h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    color:#d7dad6;
}
h4 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}
p {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}

.separaTempo{
    width:80%;
}

a{
    text-decoration: none;
}


#navBar {
    background-color: #006eff;
    display: flex;
    justify-content: center;
    align-items:center;
    transition:0.5s;
    font-size: 9vh;
}
#navBar:hover {
    transition: 1s;
    cursor:pointer;
    background-color: #000c21;
}
#navBar h1{
    color: #002563;
    transition: 1s;
    margin-bottom: 0px;
    margin-top: 20px;
}
#navBar h1:hover{
    color: #87b3ff;
    transition: 1s;
    letter-spacing: 12px;
}

.galeriaNoticias {
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}

#fotoFundo{
    border-radius: 8px;
    opacity:30%;
    width: inherit;
    object-fit: cover;
    transition: 2s;
    width: 100%;
}
#fotoFundo:hover{
    opacity: 100%;
    transition: 2s;
    width: 101%;
}

.noticiaPrincipal {
    display: inline-block;
    position: relative;
    object-fit: cover;
    width: 64%;
    padding:15px;
}

.noticiaPrincipalConteudo {
    display: inline-block;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 75%;
    transition: 1s;
}
.noticiaPrincipalConteudo:hover {
    object-fit: cover;
    transition: 1s;
    letter-spacing: 2px;
}

.noticiasSecundarias {
    display: flex;
    flex-direction: column;
    width:30%;
}

.outrasNoticias {
    display: block;
    position: relative;
    object-fit: cover;
    height:50%;
    width: 100%;
    padding:15px;
    transition: 1s;
}
.outrasNoticias:hover {
    opacity:100%;
    width: 102%;
    object-fit: cover;
    transition: 1s;
    letter-spacing: 2px;
}

.noticiaPrincipal h1{
        position: absolute;
        font-size: 100px;
        font-size: 100px;
        bottom:-80px;
        left:40px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px black;
}

.noticiaPrincipal h3{
        position: absolute;
        bottom:-60px;
        left:40px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px black;
}
.noticiaPrincipal p{
        position: absolute;
        bottom:-70px;
        left:40px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px black;
}

.outrasNoticias h1{
        position: absolute;
        font-size: 100px;
        bottom:20px;
        left:40px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px black;
}
.outrasNoticias p{
        position: absolute;
        bottom:80px;
        left:40px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px black;
}