/*COLOR PALETTE
#0c1017 primary
#d7dad6 secondary
#006eff tertiary
#002563 fourtiary*/

@font-face {
    font-family: 'TimesModern';
    src: url('assets/fonts/TimesModern-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesDigitalW04-RegularSC';
    src: url('assets/fonts/TimesDigitalW04-RegularSC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesModern';
    src: url('assets/fonts/TimesModern-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TimesDigitalW04';
    src: url('assets/fonts/TimesDigitalW04-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Webfont: Humane-Bold */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Bold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Bold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Bold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Bold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Bold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-ExtraLight */@font-face {
    font-family: 'MangoGrotesqueExtLt';
    src: url(assets/font/Humane-ExtraLight.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-ExtraLight.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-ExtraLight.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-ExtraLight.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Light */@font-face {
    font-family: 'MangoGrotesqueLight';
    src: url(assets/font/Humane-Light.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Light.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Light.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Light.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Light.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Medium */@font-face {
    font-family: 'MangoGrotesqueMed';
    src: url(assets/font/Humane-Medium.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Medium.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Medium.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Medium.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Medium.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Regular */@font-face {
    font-family: 'MangoGrotesque';
    src: url(assets/font/Humane-Regular.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Regular.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Regular.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Regular.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-SemiBold */@font-face {
    font-family: 'MangoGrotesqueSemBd';
    src: url(assets/font/Humane-SemiBold.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-SemiBold.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-SemiBold.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-SemiBold.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Humane-Thin */@font-face {
    font-family: 'MangoGrotesqueThin';
    src: url(assets/font/Humane-Thin.eot); /* IE9 Compat Modes */
    src: url(assets/font/Humane-Thin.eot?#iefix) format('embedded-opentype'), /* IE6-IE8 */
         url(assets/font/Humane-Thin.woff) format('woff'), /* Modern Browsers */
         url(assets/font/Humane-Thin.woff2) format('woff2'), /* Modern Browsers */
         url(assets/font/Humane-Thin.ttf) format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    margin:0px auto;
    background-color: #0c1017;
    text-decoration: none;
}

a{
    text-decoration: none;
}

#primary-color {
    color:#0c1017
}
#secondary-color {
    color:#d7dad6
}
#tertiary-color {
    color:#006eff
}
#fourtiary-color {
    color:#002563
}
#success-color {
    color:#005a51
}
#danger-color {
    color:#db003e
}

hr {
    width:50%;
    border: 1px solid #87b3ff;
}

h1 {
    font-family: 'MangoGrotesque', sans-serif;
    font-weight: 900;
    color:#d7dad6;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    color:#d7dad6;
}
h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    color:#d7dad6;
}
h4 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}
p {
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
}

.separaTempo{
    width:80%;
}


#navBar {
    background-color: #006eff;
    background-image: url("assets/backgrounds/star-background.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;
    transition:0.5s;
    font-size: 9vh;
    text-decoration: none;
}
#navBar:hover {
    transition: 1s;
    cursor:pointer;
}
#navBar h1{
    color: #d7dad6;
    transition: 1s;
    margin-bottom: 0px;
    margin-top: 20px;
    text-decoration: none;
}
#navBar h1:hover{
    transition: 1s;
    letter-spacing: 12px;
}

.headerPlacar {
    width:60%;
    background-color:#1e283a;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin:0px auto;
}

.informacoesJogo {
    font-family: 'Epilogue', sans-serif;
    transition:0.5s;
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin:20px auto;
}

.separador {
    margin:14px 12px 0px 12px;
}

.tempoJogoAoVivo {
    transition:0.5s;
    padding:0px auto;
    animation: pulse 2s infinite;
}

.tempoJogoAoVivo h1{
    color:#ff0033;
    font-family: 'Epilogue', sans-serif;
    display: flex;
    margin:20px;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity:100%;
	}

	30% {
		transform: scale(0.50);
		opacity:40%;
        letter-spacing: 20px;
    }
	100% {
		transform: scale(1);
		opacity:100%;
	}
}

.tempoJogoEncerrado {
    color: #d7dad6;
    font-family: 'Epilogue', sans-serif;
    transition:0.5s;
    padding:0px auto;
    display:none;
}

.placar {
    width:60%;
    background-color:#1e283a;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px auto;
}

.timeCasa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#d7dad6;
    transition:0.8s;
    animation:pulse;
}
.timeCasa h3{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

.placarCasa{
    display: flex;
}
.placarCasa h1{
    font-size: 15vh;
    font-weight: 900;
    color:#d7dad6;
    margin:0px 50px 60px 150px;
}
#placarPenaltis{
    font-size: 2.5vh;
    font-family: 'Epilogue', sans-serif;
    font-weight: 300;
    color:#d7dad6;
    margin-top:58px;
}
.separadorPlacar{
    font-size: 10vh;
    font-family: 'Epilogue', sans-serif;
    font-weight: 100;
    color:#d7dad6;
    margin:0px 50px 60px 50px;
}

.placarFora{
    display: flex;
}
.placarFora h1{
    font-size: 15vh;
    font-weight: 900;
    color:#d7dad6;
    margin:0px 150px 60px 50px;
}

.timeFora {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#d7dad6;
    transition:0.8s;
    animation:pulse;
}
.timeFora h3{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
}

.artilheirosJogo{
    width:60%;
    background-color:#1e283a;
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:0px auto;
}
.golsJogadoresCasa{
    display: flex;
    align-items: top;
    color:#d7dad6;
    margin-left:50px;
    text-align: left;
}
.golsJogadoresCasa li{
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    list-style-type: none;
}
.golsJogadoresFora{
    display: flex;
    align-items: top;
    color:#d7dad6;
    margin-right:100px;
}
.golsJogadoresFora li{
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    list-style-type: none;
    text-align: right;
}

.cronicaJogo{
    width:100%;
    background-color:#040507;
    display: flex;
    justify-content: center;
}

.textoCronicaJogo{
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'TimesModern', serif;
    color: #d7dad6;
    padding:10px;
}

#textoCronicaJogo{
    width:70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'TimesModern';
    font-weight: bold;
    color: #d7dad6;
    padding:10px;
}

#tituloTextoCronicaJogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 14vh;
    margin-top: 0px;
    margin-bottom: -20px;
}
#subtituloTextoCronicaJogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size: 7vh;
    margin-top: 0px;
    margin-bottom: 0px;
}

.lancesJogo{
    width:60%;
    background-color:#111621;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin:0px auto;
}

.lanceGol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}

#minutagem {
    margin-top: 0px;
    margin-bottom: -20px;
    font-size: 80px;
}

#fotoAvatar{
    border-radius: 50%;
    border: 2px solid #87b3ff;
}

.fotoGol{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width:140%;
}
.lanceGolTopoCasa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:140%
}
.lanceGolTopoCasa h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: 2vh;
    color: #d7dad6;
    animation: pulse 2s infinite;
}
.lanceGolTopoFora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:140%;
}
.lanceGolTopoFora h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900;
    font-size: 2vh;
    color: #d7dad6;
    animation: pulse 2s infinite;
}

.lanceCartaoAmarelo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}
.lanceCartaoAmareloTopo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffae00;
    border-radius: 16px;
    width:140%
}
.lanceCartaoAmareloTopo h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: #000000;
}

.lanceCartaoVermelho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}
.lanceCartaoVermelhoTopo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ff001e;
    border-radius: 16px;
    width:140%
}
.lanceCartaoVermelhoTopo h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: #d7dad6;
}
.lanceFinal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}
.lanceFinalTopo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#31405d;
    border-radius: 16px;
    width:140%
}
.lanceFinalTopo h1{
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: #d7dad6;
}
.lanceNormal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}
.lanceSub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width:30%;
    background-color:#1e283a;
    font-family: 'Epilogue', sans-serif;
    color: #d7dad6;
    margin-bottom: 0px;
    padding: 10px 80px;
    text-align: center;
}
#subEntra{
    background-color: #005a51;
    padding:10px;
    border-radius: 8px;
    width:70%;
    display: flex;
    justify-content: center;
}
#subSai{
    background-color: #a70021;
    padding:10px;
    border-radius: 8px;
    width:70%;
    display: flex;
    justify-content: center;
}
#nomeTimeSub{
    padding: 20px 0px;
    text-transform: uppercase;
}
.fotoJogo {
    width:70%;
    padding:20px;
    border-radius: 40px;
}